html{
    scroll-behavior: smooth;
}
    #loader {
  position: fixed;
  left: 50%;
  top:60%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
    #remember{
        width: 18px;height: 18px;
    }
    #remember1{
        font-size: 20px;
    }
button , input[type=submit]{
       background-color: DodgerBlue;
     font-size: 18px;
    padding: 5px 20px 5px 20px;
  border:none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
    margin: 20px;
 }
.btn-link{
    font-size: 16px;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.container {
    margin-top: 10px;
    border-radius: 20px;
    padding: 30px;
    width: 60%;
    background-color: aliceblue;
    text-align: center;
    font-size: 18px;
}
 .flash{
     color: red;
     border: 2px solid red;
     border-radius: 10px;
     padding: 1px;
     font-size: 18px;
 }
@media only screen and (max-width: 720px) {
    #notice{
        padding: 3px;
    }
    #notice h4{
    font-size: 18px;
}
#notice h5{
    font-size: 16px;
}
#p2{
    font-size: 13px;
}
#p1{
   font-size: 13px;
}
#p3{
    font-size: 13px;
}
#dummy1{
    font-size: 15px;
}
button,input[type='submit']{
    font-size: 18px;
}
    #logo{
        font-size: 20px;
        font-weight: 570;
        letter-spacing: 1px;
    }
    #logo img{
        height: 30px;
        width: 30px;
    }
    .menu-item{
        font-size: 14px;
    }
    .collapsible{
        font-size: 17px;
    }

     #navbarSupportedContent .dropdown-toggle {
    font-size: 14px;
}
     #navbarSupportedContent .dropdown-menu li a{
         font-size: 10px;
     }
    .container{
        font-size: 18px;
        padding: 15px;
        width: 100%;
    }
    table tr td,th{
        margin-left: auto;
        margin-right: auto;
        font-size: 15px;
        padding: 0 1px 0 1px;
    }
    #midh{
        font-size: 15px;
    }
    #parent .collapsible{
        font-size: 14px;
    }
    #presem,#nextsem{
        font-size: 12px;
    }
    #aboutus h3{
        font-size: 18px;
        font-weight: bold;
    }
    #aboutus h4{
        font-size: 17px;
        font-weight: bold;
    }
    #aboutus p{
        font-size: 15px;
    }
    #aboutclg h3{
        font-size: 19px;
        font-weight: bold;
    }
    #aboutclg h4{
        font-size: 17px;
        font-weight: bold;
    }
    #aboutclg p{
        font-size: 15px;
    }
    #aboutclg img{
        width: 150px;
    }
    #contact h3{
        font-size: 18px;
        font-weight: bold;
    }
    .footer-basic{
        padding-bottom: 5px;
    }
    .footer-basic .social {
        text-align:center;
        margin-top: 10px;
        padding-bottom: 1px;

}
    .footer-basic .social a img{
        width: 40px;
    }
         #loader{
         left: 57%;
         margin-top: 5%;
           width: 100px;
            height: 100px;
        border: 10px solid #f3f3f3;
        border-top: 10px solid #3498db;
     }
         button , input[type=submit]{
        font-size: 18px;
 }
.btn-link{
    font-size: 16px;
}
#formbody p{
    font-size: 18px;
}
#remember{
        width: 15px;height: 15px;
    }
    #remember1{
        font-size: 20px;
    }

}
