* {
    
 font-family: Arial, Helvetica, sans-serif;
}
.menu-items{
    font-size: 22px;
    color: tomato;
}
.menu-item{
    padding: 10px;
    color: tomato;
    font-weight: 550;
    border-bottom: 2px solid transparent;
  transition-duration: .5s;
  transition-property: color, border-bottom;
}
.menu-item:hover{
    border-bottom: 3px solid tomato;
    color: #353F48;
}

table .th{
    font-weight: bold;
}
table .tdSideHead{
     font-weight: bold;
}

#notice{
    padding: 5px; border: #4b4c4d solid 2px;
}

#notice img{
            width: 90%;
            height: auto;
            border-radius: 20px;
            padding: 10px;
}
#navbarSupportedContent .dropdown-toggle{
    color: tomato;
    font-size: 20px;
    font-weight: bold;
}
#navbarSupportedContent .dropdown-menu li a{
    font-weight: bold;
    font-size: 19px;
    border: none;
}
#header{
    padding: 0;
    top: 0;
    position: fixed;
    width: 100%;
	background-color: #f1f1f1;
}
#header a {
  text-decoration: none;
  line-height: 25px;
  border-radius: 4px;
}
#formbody p{
    font-size: 18px;
}
#respmsg{
    padding: 5px;
    border: 2px solid #23e823;
    font-weight: bold;
    font-family: "Times New Roman", serif;
    border-radius: 10px;
    display: none;
}
#logo{
    padding-left: 10px;
	font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
    overflow: hidden;
  letter-spacing: 1px;
  color: tomato;
  cursor: pointer;
}
.main-container{
    margin-top: 150px;
    border: black;
}

.img-responsive
 {
            height: auto;
            width: auto;
            max-height: 65px;
            max-width: 150px;
}
#aboutclg p{
    text-align: left;
    text-indent: 80px;
    font-family: "Times New Roman", serif;
}
#notice h4{
    font-weight: bold;
    text-decoration: underline
}
#notice h5{
    font-weight: bold;
    color: #f85757;
    margin-top:0;
    text-decoration: underline;
    font-family: Copperplate, Papyrus, fantasy;
}
#p2{
    font-size: 19px;

    font-family: Arial, Helvetica, sans-serif;
}
#p1{
   font-size: 20px;
    text-decoration: underline;
    text-indent: 15px;
    text-align:center;
    font-family: Copperplate, Papyrus, fantasy;
}
#p3{
    font-family:Comic Sans MS, Comic Sans, cursive;
    font-size: 15px;
}
#bdata h4{
  color:black;
  padding: 18px;
    font-weight: bold;
  border: none;
  text-align: left;
  font-size: 18px;
}
#bdata{
    transition: height 0.2s ease-out ;
}
.collapsible {
    border-radius: 10px;
  color:black;
   background-color: #e6f3fc;
  cursor: pointer;
  padding: 18px;
    font-weight: bold;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
}

.collapsible:hover {
  background-color: #d7eff8;
}
.active{
   background-color:inherit;
}
.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: inherit;
}
.collapsible:after {
  content: '\002B';
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}
iframe{
    width: 100%;
    height: 500px;
}
/*Footer*/
.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
  opacity: 0.9;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;

}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  text-align:center;
  border-radius:50%;
  margin:0 20px;
  color:inherit;
  opacity:0.75;
    cursor: pointer;
}

.footer-basic .social > a:hover {
  opacity:1;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}
 .list-inline {
        margin-left: 10px;
  padding-left: 0;
  list-style: none;
}
    .list-inline-item {

  display: inline-block;
}
