<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="yvF7XLG_qSMm67vKZjdTbkHaoz8B4CG41SBSxVswoAQ" />
    <meta charset="UTF-8">
    <meta name="keywords" content="Attendance, nbkristattendance, nbkrist, nbkr, attnbkr, attnbkrist">
    <meta name="description" content="Check Your Attendance here.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/img/apple-touch-icon.png">
    <link rel="icon" type="image/x-icon" sizes="32x32" href="../static/img/favicon-32x32.png">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="../static/img/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
    <title>Att | Admin</title>
</head>
<style>
    .header{
        padding: 20px;
        top: 0;
        position: fixed;
        width: 100%;
        background-color: #f1f1f1;
        display: flex;
        justify-content: space-evenly;

}
</style>
<header>
    <div class="header">
        <a href="{{ url_for('home') }}" class="logo" > ATT | ADMIN</a>
        <div class="header-right">
            <a class="name" href="{{ url_for('adminsuccess') }}">Hello, Admin</a>
        </div>
    </div>
</header>
<body>
<h2 style="text-align: center">Welcome to Admin page</h2>
<!-- Insta BOT-->

<table>
    <tr>
        <th>insta_registered users</th>
        <td>{{ reg_users }}</td>
    </tr>
    <tr>
        <th>booked fo automatic attendance users</th>
        <td>{{ booked_req }}</td>
    </tr>
    <tr>
        <th>Help</th>
        <td>{{ help }}</td>
    </tr>
</table>

<!-- insta BOT-->
<table>
    <tr>
        <th></th>
        <td>key seted by</td>
        <td>{{ keyset}}</td>
    </tr>
    <tr>
        <th>First Year</th>
        <td>Total: {{ fsize }}</td>
    </tr>

    
    <tr>
        <th>Second Year</th>
        <td>Total: {{ ssize }}</td>
        <td>{{ sdata }}</td>
    </tr>

    
    <tr>
        <th>Third Year</th>
        <td>Total: {{ tsize }}</td>

        <td>{{ tdata }}</td>
    </tr>

    
    <tr>
        <th>Fourth Year</th>
        <td>Total: {{ frsize }}</td>
        <td>{{ frdata }}</td>
    </tr>
</table>
</body>
</html>
