{% extends 'index.html' %}
{% block main %}
<section class="banner">
    <div class="container">
        <div class="row">
            <div style="width:800px; margin:0 auto;" class="col-md-6 col-md-offset-3 ">
                <h4>Welcome to Paradise<h4>
                <h2>Canteen Management</h2>
                <p>One thousand flavors in one place.</p>
                <div class="primary-button">
                    <a class="godown" href="#service">Order Right Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}